<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
      <add key="ServiceAddress" value="sb://{servicebusnamespace}.servicebus.windows.net/request_service/input_queue"/>

      <add key="ServiceBusNamespace" value=""/>
      <add key="ServiceBusKeyName" value=""/>
      <add key="ServiceBusSharedAccessKey" value=""/>
    </appSettings>
</configuration>