<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceBusNamespace" value=""/>
    <add key="ServiceBusKeyName" value=""/>
    <add key="ServiceBusSharedAccessKey" value=""/>

    <!--
    <add key="ServiceBusNetMessagingTransportBatchFlushInterval" value="00:00:00.0200000"/>
    <add key="ServiceBusNetMessagingTransportEnableRedirect" value="False"/>
    <add key="ServiceBusNetMessagingTransportLeaseTimeout" value="00:10:00"/>

    <add key="ServiceBusAmqpTransportBatchFlushInterval" value="00:00:00.0200000"/>
    <add key="ServiceBusAmqpTransportEnableLinkRedirect" value="False"/>
    <add key="ServiceBusAmqpTransportMaxFrameSize" value="131072"/>
    <add key="ServiceBusAmqpTransportUseSslStreamSecurity" value="False"/>
    -->
  </appSettings>
</configuration>